.card{
    width: 600px;
    height: auto;
    background-color: var(--md-sys-color-primary-container);
    border-radius: 50px;
    transition: background-color 0.3s;
    overflow: hidden;
    margin: auto;
}

.card_header{
    position: relative;
    width:100%;
    height: 150px;
    box-shadow: 0 10px 8px 0 hsl(0deg 0% 0% / 0.3);
    overflow: hidden;
}

#Title{
    transition: color 0.3s;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 25px;
    z-index: 4;
    position: relative;
}

#sub_heading{
    margin: 25px;
    z-index: 4;
    position: relative;
}

.form_button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: left; /* Keeps text aligned to the left */
    display: block;   /* Makes the button fill the li container */
}

#question_img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 30%;
    transition: opacity 0.3s;
    z-index: 0;
}

article ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

article ul li{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#album_bar_text{
    padding: 25px 25px;
    position: absolute;
    z-index: 3;
}

.form_button img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 15%;
    transition: opacity 0.3s;
    z-index: 0;
}
.form_button img:hover{
    opacity: 65%;
}

.form_button h3, .form_button p{
    opacity: 1;
    z-index: 3;
    margin: 25px 0 0 25px;
}

.answer_bar{
    width: 100%;
    height: 100px;
    box-shadow: 0 10px 8px 0 hsl(0deg 0% 0% / 0.3);
    overflow: hidden;
    position: relative;
}

.search_button{
    color: var(--md-sys-color-on-secondary-container);
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid gray;
    transition: background-color 0.3s, color 0.3s;
    width: 25px; 
    margin:10px; 
    padding:0;
}
.search_button:hover{
    background-color: var(--md-sys-color-primary);
    opacity: 1;
    color: var(--md-sys-color-on-primary);
    width: 25px; 
    margin:10px; 
    padding:0;
}