@page
<!-- Linking the UpdateTrack class to the HTML File -->
@model Project.Pages.UpdateTrack
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Tab name Updates to Updated Album -->
        <title>Updated Album - Chinook Console</title>
    </head>
    <body>
        <h1>Chinook Console</h1>
        <h2>Updated Track!</h2>

        <p>You had sucessfully updated @Model.TrackName.<br/>What would you like to do?</p>

        <!-- Return To The Album -->
        @* <form action="~/Details" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="hdnAlbumID" value="@Model.AlbumID"/>
            <input type="submit" value="Return to Album"/>
        </form> *@
        <!-- Return To The Dashboard (Index) -->
        <form action="~/Index" method="get">
            @Html.AntiForgeryToken()
            <input type="submit" value="Dashboard"/>
        </form>
    </body>
</html>